.vscode/
.idea/

.env

.venv/

.mypy_cache/
.ruff_cache/
__pycache__/

diagrams/
# To ignore the “images” directory only in the root of your Git repository add leading slash
/images/
sandbox/

T-shape/python/reuven
T-shape/code-review/.gitkeep
